.modalBackground {
  display: block;
  background-color: rgb(250, 194, 42);
  z-index: 10;
  position: fixed;
  margin-top: 75px;
  width: 500px;
  height: fit-content;
  font-size: larger;
  font-weight: 700;
  left: 500px;
  border-radius: 20px;
}

.modalBackground button{
  border: none;
  background: none;
  color: rgb(0, 0, 0);
}

.titleCloseBtn {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  padding-top: 3px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 10px;
}

#cancelBtn {
  background-color: rgb(20, 148, 30);
  color: aliceblue;
  border-radius: 5px;
}